*.exe

lang_it
translate_line
benchmarks/translate_line
benchmarks/results/*.txt
test_server/httplib/server
*.Identifier
.vscode
.vs
dist/desktop/windows/*.dll
dist/wasm/index.html
wrappers/ruby/pairs
wrappers/ruby/pairs/*
wrappers/ruby/lang_it_rb.o
wrappers/ruby/lang_it_rb.so
pairs/*.o
src/pairs
lang_it.cpp
src/*.json
src/*.lang
src/lang_it.h.gch
src/json.hpp
src/json.hpp
src/test.lang_it
src/compiler
testing/*.exe
testing/test
build
out
install
CMakeSettings.json
test.cpp
test
lang_it.cpp